{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>
    <section class="position-relative py-4 py-xl-5"></section>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <p class="w-lg-50"></p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5" style="background-color: whitesmoke">
            <h2
              class="display-3 fs-2 text-center"
              style="
                padding-top: 31px;
                margin-bottom: 0px;
                padding-bottom: 15px;
              "
            >
              Login to CATFISH
            </h2>
            <div
              class="card-body d-flex flex-column align-items-center"
              style="padding-top: 21px"
            >
              <form class="text-center" method="POST">
                {% csrf_token %}
                <div class="mb-3" style="width:300px">{{ form.username }}</div>
                <div class="mb-3" style="width:300px">{{ form.password }}</div>
                {% if form.non_field_errors %}
                  <p class='form-errors'>
                    {% for error in form.non_field_errors %}
                      <p style="color: #ef2929">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endif %}

                <div class="mb-3">
                  <button
                    class="btn btn-primary text-center d-block w-100"
                    type="submit"
                    style="margin-top: 15px; background-color: #5DB075"
                  >
                  {{ _("Log In") }}
                  </button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">
                  Belum memiliki akun?
                  <a href="/register" class="fw-bold text-body"
                    ><u>Daftar</u></a>
                </p>
              </form>
            </div>
          </div>
          <img class="rounded mx-auto d-block" src="{% static 'img/catfish.jpg' %}" width="100" height="100" style="margin-top: -44px">
        </div>
      </div>
    </div>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/login.js' %}"></script>
  </body>
</html>

{% endblock content %}