{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel</title>

     <!-- font type ubuntu connect -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    
     <!-- css connect -->
    <link rel="stylesheet" href="homepage-artikel.css">
    <link rel="stylesheet" href="{% static 'css/homepage-artikel.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="header">

        <div class="left">
            <img src="image/Compfest Logo 1.jfif" alt="">
            <div class="search-bar">
                <form method ="get" id = "search">
                    {% csrf_token %}
                    {{listing_filter.form}}
                    {% comment %} <input class="search" type="search" placeholder="Search..."> {% endcomment %}
                    <input class="submit"type="submit">
                </form>
            </div>
        </div>


        <div class="right">
            <button href="{% url 'article:show_artikel' %}"><img src="{% static 'images/cashflow-kel.png' %}" alt=""></button>
            <button><img src="{% static 'images/logout-kel.png' %}" alt=""></button>
        </div>
    </div>


    <div id="artikel">
        <h3>Artikel Terupdate</h3>
    </div>

    <div class="content" id = "content-article">
       
        <div class="artikel">
            <div class="page"href="/article/json/'+item.pk+'">
                <h4>'+ item.fields.judul +'</h4>
                <p class="author">Author : Lorem ipsum dolor</p>
        
                <button href="{% url 'article:show_artikel' %}" >Read</button>
            </div>
        </div> 
    </div>

    <div class="comment-page">
        <h2>Komentar</h2>
        <form method ="POST" id = "comment-user">
            {% csrf_token %}
        <div class="add-comment">
            {{ form.as_div }}
              
                <div>
                    <input type="submit" id="tambah-komentar">
                </div>
            </div>
        </form>
        <div class="display-comment">

            {% for item in comment_item %}
            <div class="comment-user">
                <div>
                    <img src="image/Compfest Logo 1.jfif" alt="">
                </div>
                <div>
                    <h4>{{item.user}}</h4>
                    <p>{{item.comment_anonymous }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
        
    </div>

    <script>
         function createCard(item) {
            const area = document.getElementById("content-article");
            area.insertAdjacentHTML('beforeend', ' <div class="artikel"><div class="page" href="/article/json/'+item.pk+'"><h4>'+ item.fields.judul +'</h4><p class="author">Author : Lorem ipsum dolor</p><p class="date"></p><button>Read</button></div></div>');
          }

        function getArticle(){
            $.ajax({
                url : "{% url 'article:get-artikel-json' %}",
                type : "GET",
                dataType : "json",
                success: (items) =>{
                    console.log(items)
                    const area = document.getElementById("content-article")
                    if(items.length == 0){
                    area.insertAdjacentHTML('afterbegin',"<div class='ohno' id='nodiary'><h1 style='text-align: center; margin-top: 30px;'>Ouch, {{username}}!</h1><h4 style='color: #6C757D; text-align: center;'> You don't have any diary! &#128533;</h4><div class='text-center mt-4'><button type='button' class='btn btn-primary add-task' data-bs-toggle='modal' data-bs-target='#add-diary-modal' style='border: none; background-color: #2F6D80;'> Add new diary </button></div></div>")
                    }
                    else {
                        $("#nodiary").remove();
                        $("#ar").remove()
                        {% comment %} area.insertAdjacentHTML('afterbegin', "<div id='ar'><div class='text-center' id='heading'><h1 class='fw-bolder fs-25 mb-25' id='heading'>My Diary</h1><h5 style='color: #2F6D80;'>My beautiful stories</h5></div><div id='diary-area'></div><div class='text-center'><button type='button' class='btn btn-primary add-task' data-bs-toggle='modal' data-bs-target='#add-diary-modal' style='margin-top: 20px; border: none; background-color: #2F6D80;'> Add new diary </button></div></div>") {% endcomment %}
                        items.map(item => createCard(item));
                        console.log(items);
                        console.log("berhasil");
                      }
                }
                
                
            })
        }
        
        $(document).ready(() => {
            getArticle();
        })
    </script>
    
    
    
</body>
</html>
{% endblock content %}