{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    body{
        background-color: whitesmoke;
        font-family: "Helvetica";
    }
    h1{
        font-weight: 700;
        /* identical to box height */

        text-align: center;

        color: #28362F;
    }
    h5{
        color: #28362F;
        text-align: center;
    }

    
    .container-icon{
        position: relative;
        border-radius: 20px;
        height: 90px;
        width: 90px;
        margin: auto;
        transition: transform .2s;
        box-shadow: 0px 6px 20px 6px rgba(0, 0, 0, 0.11);
    }
    .choices-img{
        height: 40px;
        width: 40px;
        margin-left: 13px;
        margin-right: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .container-icon:hover{
        transform: scale(1.1);
    }
    .button-icon{
        height: 90px;
        width: 90px;
        margin-right: 15px;
        margin-left: 15px;

    }


</style>
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
    <script type="text/javascript" language="javascript">
    $(document).ready(function(){
        let number = 0;
        $.get("/cashflow/json/spending", function(spendings) {
            console.log(spendings);
            const rupiah = new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: "IDR",
                maximumFractionDigits:0,
            });
            for (i = 0; i < spendings.length; i++){
                number++;
                $(".spending").append(`<tr id="${spendings[i].pk}">
                            <th scope="row">${number}</th>
                            <td>${spendings[i].fields.date}</td>
                            <td>${spendings[i].fields.name}</td>
                            <td>${spendings[i].fields.spending_type}</td>
                            <td>${rupiah.format(spendings[i].fields.amount)}</td>
                            <td><button class="btn btn-danger" onclick = "deleteSpending(${spendings[i].pk})">X</button></td>
                            </tr>`)
                
            }
        });
        $("#submit").click(function(){
          $.post("/cashflow/add-spending/", {

            name : $('#name').val(),
            amount: $('#amount').val(),
            date: $('#date').val(),
            spending_type: $("#spending_type").val()},
            function(new_spending) {
                if (new_spending.hasOwnProperty('error')){
                    useAlert();
                } else{
                    console.log(new_spending);
                    const rupiah = new Intl.NumberFormat("id-ID", {
                        style: "currency",
                        currency: "IDR",
                        maximumFractionDigits:0,
                    });

                    useSuccess();
                    number++;
                    $(".spending").append(`<tr id="${new_spending.pk}">
                                    <th scope="row">${number}</th>
                                    <td>${new_spending.fields.date}</td>
                                    <td>${new_spending.fields.name}</td>
                                    <td>${new_spending.fields.spending_type}</td>
                                    <td>${rupiah.format(new_spending.fields.amount)}</td>
                                    <td><button class="btn btn-danger" onclick = "deleteSpending(${new_spending.pk})">X</button></td>
                                    </tr>`) 
                    $(`#salaryModal`).modal('hide');
            }
        }
            )
          })

        $("#foodButton").click(function(){
            $("#spending_type").val("Food"); 
            $('#salaryModal').modal('show');
        });
        $("#clothButton").click(function(){
            $("#spending_type").val("Clothing"); 
            $('#salaryModal').modal('show');
        });
        $("#utilitiesButton").click(function(){
            $("#spending_type").val("Utilities"); 
            $('#salaryModal').modal('show');
        });
        $("#transportButton").click(function(){
            $("#spending_type").val("Transportation"); 
            $('#salaryModal').modal('show');
        });
        $("#savingButton").click(function(){
            $("#spending_type").val("Saving"); 
            $('#salaryModal').modal('show');
        });
        $("#otherButton").click(function(){
            $("#spending_type").val("Others"); 
            $('#salaryModal').modal('show');
        });

        deleteSpending = (id) => {
        $.ajax({
          url: `/cashflow/delete-spending/${id}`,
          type: 'DELETE',
          success: function(response){
            $(`#${id}`).remove()
          }
        })
      }
      $('#salaryModal').on('hidden.bs.modal', function (e) {
            $('#form-adder').find("input[type=text], textarea").val("");
            $('#form-adder').find("input[type=number], textarea").val("");
      }
        function useAlert() {
            const toast = new bootstrap.Toast($('#toastAlert')[0])
            toast.show()
        }

        function useSuccess() {
            const toast = new bootstrap.Toast($('#toastSuccess')[0])
            toast.show()
        }
        
    }); 
    </script>
    <title>CATFISH — My Spending</title>
</head>

<body>
    <div class="container-fluid ">
        <div class="container" style="margin-top:5%">
            <div class="row justify-content-center">
                <h1>My Spending</h1>
            </div>
            <div class="row justify-content-center">
                <div class="container overflow-auto" style="height: 350px;box-shadow: 0px 10px 22px 8px rgba(0, 0, 0, 0.11);">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="spending">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px;">
                <h5>Add new:</h5>
            </div>
            <div class="row justify-content-center row-cols-3">
                <a id="foodButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                    <img class="choices-img" src="{% static 'img/food.png' %}" >
                    </div>
                </a>
                <a id="clothButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                        <img class="choices-img" src="{% static 'img/cloth.png' %}" >
                    </div>
                </a>
                <a id="utilitiesButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                        <img class="choices-img" src="{% static 'img/utilities.png' %}" >
                    </div>
                </a>
                <a id="transportButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                        <img class="choices-img" src="{% static 'img/transport.png' %}" >
                    </div>
                </a>
                <a id="savingButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                        <img class="choices-img" src="{% static 'img/saving.png' %}" >
                    </div>
                </a>
                <a id="otherButton" class="button-icon" href="#">
                <div class="col-1 container-icon container">
                        <img class="choices-img" src="{% static 'img/otheroption.png' %}" >
                    </div>
                </a>
                
            </div>
            <div class="row justify-content-center" style="margin-top: 20px;">
                <a class="btn btn-primary" href="{% url 'cashflow:show_cashflow'%}" style="width: 100px ;">Back</a>
            </div>

        </div>
    </div>
    <!-- Toast -->
    <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
        <div class="toast-container position-absolute p-3 bottom-0 end-0">
            <div id = "toastSuccess" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                <div class="toast-body">
                    Successfully created!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        </div>
        
        <!-- Toast -->
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
        <div class="toast-container position-absolute p-3 bottom-0 end-0">
            <div id = "toastAlert" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                <div class="toast-body">
                    Failed! Please fill the right input.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        </div>

    <!-- Modal -->
  <div class="modal fade" id="salaryModal" tabindex="-1" aria-labelledby="salaryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="salaryModalLabel">Add New Spending</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form-adder" method="POST" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name: </td>
                        <td><input type="text" name="title" placeholder="Spending name.." autofocus required class="form-control" id="name"></td>
                    </tr>
                            
                    <tr>
                        <td>Amount: </td>
                        <td><input type="number" name="amount" placeholder="Amount.." required class="form-control" id="amount" step="1000"></td>
                    </tr>
                    <tr>
                        <td>Date: </td>
                        <td><input type="date" name="date" placeholder="Amount.." required class="form-control" id="date"></td>
                    </tr>
                    <tr>
                        <td>Type: </td>
                        <td><input type="text" name="spending_type" placeholder="Income name.." disabled="disabled" required class="form-control" id="spending_type"></td>
                    </tr>
                    
                </table>

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="submit"  class="btn btn-success">Add</button>
        </div>
      </div>
    </div>
  </div>

  
</body>


{% endblock content %}